<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h3>マイページ</h3>

      
        <table class="table table-borderless">
          <tr>
            <th class="h5">登録情報</th>
            <td><%= link_to "編集する", edit_customer_path(@customer), class: "btn btn-info" %></td>
          </tr>
        </table>


      <div class="mypage-center">
      <table class ="table">
          <tbody>
              <tr>
                  <th width="20%" class ="carum_title">氏名</th>
                  <td class ="carum_date"><%= @customer.first_name %> <%= @customer.last_name %></td>
              </tr>
              <tr>
                  <th class ="carum_title">カナ</th>
                  <td class ="carum_date"><%= @customer.first_name_kana %> <%= @customer.last_name_kana %></td>
              </tr>
              <tr>
                  <th class ="carum_title">郵便番号</th>
                  <td class ="carum_date"><%= @customer.postal_code %></td>
              </tr>
              <tr>
                  <th class ="carum_title">住所</th>
                  <td class ="carum_date"><%= @customer.address %></td>
              </tr>
              <tr>
                  <th class ="carum_title">電話番号</th>
                  <td class ="carum_date"><%= @customer.telephone_number %></td>
              </tr>
              <tr>
                  <th class ="carum_title">メールアドレス</th>
                  <td class ="carum_date"><%= @customer.email %></td>
              </tr>
          </tbody>
      </table>

      <table class="table table-borderless">
        <tr>
          <th class="h5">配送先</th>
          <td><%= link_to "一覧を見る", addresses_path(@customer), class: "btn btn-info" %></td>
        </tr>

        <tr>
          <th class="h5">注文履歴</th>
          <td><%= link_to "一覧を見る", orders_path, class: "btn btn-info" %></td>
        </tr>
      </table>




     </div>

  </div>
</div>