<div class="container">
 <h1>ショッピングカート</h1>
  <div class="row">
    <% if @cart_items.any? %>
    <table class="table">
    <tr>
      <th class="item-name">商品名</th>
      <th class="item-price">単価(税込)</th>
      <th class="item-amount">数量</th>
      <th class="item-bill">小計</th>
      <th></th>
    </tr>

     <% @cart_items.each do |cart_item| %>
    <tr>
      <td class="item-image">
          <%= attachment_image_tag cart_item.item, :image  %>
          <%= cart_item.item.name %>
      </td>
      <td class="item-price">
          <%= (cart_item.item.price* 1.1).floor %>
      </td>
      <td class="item-amount">
          <%= form_with model: cart_item, local: true do |f| %>
          <div class="form-group has-icon">
          <%= f.select :amount, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].to_a %> <%= f.submit "変更", class:"btn btn-primary" %>
          </div>
          
          <% end %>
      </td>
      <td item-bill>
        <%= (cart_item.item.price* 1.1).floor* cart_item.amount %>
      </td>
      <td class="info">
           <%= link_to "削除する", cart_item_path(cart_item.id), method: :delete, data: { confirm: "Are you sure?"}, class:"btn btn-primary" %>
      </td>

    </tr>
     <% end %>
  </table>
    <%= link_to "買い物を続ける", items_path, class: "btn btn-primary " %>
        <label class="bill">合計金額¥<%= @total %></label>

    <%= link_to "カートを空にする", empty_cart_items_path, method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-danger" %>
     <% else %>
    <div class="info">現在カートに商品がありません</div>
      <%= link_to "買い物を続ける", items_path, class: "btn btn-primary" %>
    <% end %>
        <br>
        <%= link_to "注文情報入力に進む", new_order_path, class: "btn btn-primary" %>