<div class="container">
  <h2 class="title">商品一覧</h2><p>(全<%= @items.count %>件)</p> 
    <div class="row">
    <% @items.each do |item| %>
      <div class="col-xs-3">
        <div class="card mb-3">
          
          <%= attachment_image_tag item, :image, format: 'jpeg', class: "bd-placeholder-img card-img-top", fallback: "ithigo.jpg", height: "180" %>
          <div class="card-body">
            <h5 class="card-title"><%= item.name %></h5>
            <p class="card-text"><%= item.price %>円</p>
            <%= link_to "この商品を見る", item_path(item.id), class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
    
</div> 