<h2 class="pb-2 mb-4"><%= @item.name %></h2>

<div class="row">
  <div class="col-6">
    <%= attachment_image_tag @item, :image %>
  </div>
  <div class="col-6">
    <h5 class="mb-3">商品説明</h5>
    <div class="item-description mb-5">
      <%= @item.introduction %>
    </div>
    <div class="item-tax_price md-5">
      <h2>￥<%= (@item.price* 1.1).floor.to_s(:delimited, delimiter: ',') %></h2><p>(税込)</p>
    </div>
    <% if current_customer %>
  <% if @duplication == 0 %>
    <%= form_for @cart_item do |f| %>
      <div class="form-group has-icon">
        <%= f.label :個数 %>
        <%= f.select :amount, [1, 2, 3, 4, 5, 6, 7, 8, 9, 10], class:"form-control", include_blank: "選択して下さい" %>
      </div>

      <%= f.hidden_field :item_id , value: @item.id %>

      <%= f.submit "カートに入れる", class:"btn btn-primary btn-block btn-base-1" %>
    <% end %>
  <% else %>
    <div>カートに追加済み</div>
  <% end %>
<% end %>

  </div>
</div>